
* {
    box-sizing: border-box;
    font-size: 10px;
  }
  
  body {
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 0rem 10rem;
    
    padding: 40px 20px;
    text-align: center;
  }
  p {
    color: #fff;
    font-size: 4rem;
    text-align: left;
  }
  
  h1 {
    color: #ffffff;
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
   
  }
  
  h2 {
    font-size: 4rem;
    color: #fff;
    text-align: center;
  }
  h3 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  img {
    padding-top: 2rem;
  }
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #ff6f6f;
   
  }
  
  ::selection {
    color: white;
    background: #ff6f6f;
  }
  .input-field {
    margin-bottom: 2rem;
    text-align: left;
  }
  
  .input-field label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .input-field input[type="number"] {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    width: 50px;
  }
  
  button {
    background-color: #ff6f6f;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 0 2px #333;
    scale: 1.04;
  }
  
  #alert {
    width: 90%;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    display: none;
    background-color: #ff6f6f;
    border-radius: 10px;

  }
  
  #output {
    margin-top: 3rem;
    text-align: left;
    font-size: 40px;
    
    
  }
  @media  screen and (max-width: 2000) {
    *{
        font-size: 20px;
    }
    
  }
  @media screen and (max-width: 1400px) {
    *{
        font-size: 15px;
    }
    
  }
  @media screen and (max-width: 600px) {
    *{
        font-size: 6px
    }
    
  }

  
